# mostly used dependencies to build the ai agents



openai
groq
google-generativeai
mistralai

langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-mistralai
langchain-text-splitters
langchain-tavily
huggingface_hub
transformers
sentence-transformers

faiss-cpu
chromadb

tiktoken

python-dotenv
pydantic
pydantic-settings

fastapi
uvicorn

requests
httpx

numpy
pandas
tqdm

pypdf
python-docx
unstructured

torch
accelerate

streamlit
langchain
langchain-core
langchain-mistralai
pydantic
python-dotenv
mcp-agent
openai
asyncio

streamlit
mcp-agent
google-generativeai
playwright








# uv venv
# .venv\Scripts\activate
# source .venv/bin/activate
# uv pip install -r requirements.txt